.git
.github
node_modules
vendor
.env
.env.backup
.phpunit.result.cache
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
python/venv
__pycache__
*.pyc
