parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$employee\.$#'
			identifier: property.notFound
			count: 5
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Relation ''employee'' is not found in App\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Jobs/ProcessEvaluationSubmission.php

		-
			message: '#^Access to an undefined property App\\Models\\AcademicClass\:\:\$teacher\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$employee\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$student\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Relation ''students'' is not found in App\\Models\\AcademicClass model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Models/User.php

		-
			message: '#^Relation ''teacher'' is not found in App\\Models\\AcademicClass model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Models/User.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/User.php
