parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\AcademicClass\:\:\$teacher\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Access to an undefined property App\\Models\\Employee\:\:\$user\.$#'
			identifier: property.notFound
			count: 5
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Access to an undefined property App\\Models\\Semester\:\:\$academicYear\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$employee\.$#'
			identifier: property.notFound
			count: 5
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Relation ''employee'' is not found in App\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Relation ''students'' is not found in App\\Models\\AcademicClass model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Relation ''teacher'' is not found in App\\Models\\AcademicClass model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Employee model\.$#'
			identifier: larastan.relationExistence
			count: 5
			path: app/Console/Commands/SendEvaluationDeadlineReminders.php

		-
			message: '#^Access to an undefined property App\\Models\\Evaluation\:\:\$sentiment\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/TrainAI.php

		-
			message: '#^Relation ''sentiment'' is not found in App\\Models\\Evaluation model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Console/Commands/TrainAI.php

		-
			message: '#^Access to an undefined property App\\Models\\EvaluationQuestion\:\:\$criterion\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/ProcessEvaluationSubmission.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: app/Jobs/ProcessEvaluationSubmission.php

		-
			message: '#^Relation ''criterion'' is not found in App\\Models\\EvaluationQuestion model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Jobs/ProcessEvaluationSubmission.php

		-
			message: '#^Access to an undefined property App\\Models\\AcademicClass\:\:\$teacher\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\Employee\:\:\$user\.$#'
			identifier: property.notFound
			count: 12
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\Employee\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Employee\>\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\Semester\:\:\$academicYear\.$#'
			identifier: property.notFound
			count: 3
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$employee\.$#'
			identifier: property.notFound
			count: 10
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$student\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Relation ''students'' is not found in App\\Models\\AcademicClass model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Models/User.php

		-
			message: '#^Relation ''teacher'' is not found in App\\Models\\AcademicClass model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Models/User.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\Employee model\.$#'
			identifier: larastan.relationExistence
			count: 12
			path: app/Models/User.php
